@keyframes pisca{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

body{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.urna{
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
}

.tela{
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #e8e8e8, #c1c1c1);
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
}

.teclado{
    background: linear-gradient(to right, #968b8b, #5c5454);
    border: 2px solid rgb(54, 54, 54);
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tecladoLinha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tecladoBotao{
    width: 55px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 4px;
}

.btnBranco{
    background-color: #fff;
    color: #000;
    font-size: 13px;
    width: 75px;
}

.btnCorrigir{
    background-color: #F79951;
    color: #000;
    font-size: 13px;
    width: 75px;
}

.btnConfirmar{
    background-color: #47D088;
    color: #000;
    font-size: 13px;
    width: 95px;
    height: 50px;
}

.div1{
    flex: 1;
    display: flex;
}

.div1Left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.div1_Voto{
    font-weight: 500;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.div1_Cargo{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.div1_Numeros{
    height: 50px;
}

.numero{
    float: left; 
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 25px; 
    margin: 1px;  
}

.pisca{
    animation: pisca 1.5s;
    animation-iteration-count: infinite;
}

.div1_Descricao{
    flex: 1;
    line-height: 30px;
}

.divRight{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.div_image{
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #000;
    text-align: center;
    font-size: 14px;
}

.div_image img{
    width: 100%;
}

.div_image.small{
    width: 70%;
    font-size: 12px;
}

.div2{
    font-weight: 500;
    font-size: 14px;
    border-top: 1.5px solid #000;
    padding: 10px 10px;   
}

.avisoGrande{
    flex: 1;
    font-size: 40px;
    text-align: center;
}

.avisoGigante{
    font-size: 70px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;    
}